.body {
    background-color: rgb(244,244,244);
    margin-top: 50px;
}
.container {
    text-align: center;
    margin: auto;
    border-radius: 10px;
    border-style: groove;
    border-width: 1px;
    background-color: white;
    max-width: 400px;
}
.text {
    color: rgb(32,76,128);
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
}
.input {
    width: 70%;
    height: 25px;
    border-radius: 3px;
    border-style: groove;
    border-width: 1px;
    border-color: gray;
    margin-bottom: 20px;
}
.calcular {
    color: rgb(32,76,128);
    background-color: rgb(124,124,124);
    width: 70%;
    height: 27.5px;
    border-radius: 3px;
    border-style: groove;
    border-width: 0px;
    margin-top: -25px;
}
.select {
    width: 70%;
    height: 25px;
    border-radius: 3px;
    border-style: groove;
    border-width: 1px;
    margin-top: -10px;
    margin-bottom: 15px;
}
.resultado {
    color: rgb(32,76,128);
    font-size: 20px;
    font-weight: bold;
    margin-right: 63px;
}